body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    height: 100vh;
    background-color: aqua;
    padding: 2rem;
    overflow: hidden;
}

canvas {
    border-radius: 25px;
}

#board {
    background-color: rgb(31, 31, 31);
    box-shadow: -15px -15px 50px rgb(0, 0, 0);
    border: 5px solid white;
}