body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    height: 100vh;
    background-color: aqua;
    padding: 2rem;
    overflow: hidden;
}

.logo {
    width: 50%;
    height: auto;
}

.gameBoard {
    padding: 20px;
    border-radius: 30px;
}

canvas {
    border-radius: 25px;
}

#board {
    background-color: rgb(0, 0, 0);
    box-shadow: -15px -15px 50px rgb(0, 0, 0);
    border: 5px solid white;
}